body{
    background-image: url(https://assets.vogue.com/photos/62c5e16903b6d9a4fdd6b839/1:1/w_1332,h_1332,c_limit/20220618_VOGUE_BRENT-FAIYAZ_LOOK_03_090.jpg);
font-family:Georgia, 'Times New Roman', Times, serif;

}
h1{
color: rgb(108, 75, 21);

}
ul{
    font-style:italic;
    font-size:x-large;
}
.loco{
    font-size: x-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: olivedrab;
    background-color:rgb(71, 45, 6);
    position: absolute;
    color: aliceblue;
}
.header{
    position: fixed ;
    top: 6px;
    left: 6px;
    right: 6px;
    height: 90px;
    z-index: 9001;
    font-size: xx-large;
    
}
.leftmenu{
    position:fixed;
    left: 6px;
    top: 102px;
    bottom: 62px;
    width: 200px;
    background-color:rgb(255, 255, 255);
    hey 

}
.footer{
    bottom: 6px;
    height: 50px;
    width: 200px;
    left: 6px;
    background-color:rgb(71, 45, 6);
    position: fixed;
}
.body{
    top: 100px;
    left: 212px;
    background-color: transparent;
}
.brentpic{
    right: 200px;
    top: 200px;
}
.szapic{

}
.caesarpic{

}